<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees in Region</title>

    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Department</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${employees}">
        <td th:text="${emp.id}">100</td>
        <td th:text="${emp.fullName}">Steven King</td>
        <td th:text="${emp.department}">Executive</td>
        <td th:text="${emp.city}">Seattle</td>

    </tr>
    </tbody>
</table>


</body>
</html>
